html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Heading {
    text-align: center;
    margin-bottom: 2rem;
}

.form-div {
    padding: 0.5rem;
}


.Error {
    color: red;
    font-weight: bold;
}

.Success {
    color: green;
    font-weight: bold;
}

.uploadButton{
    cursor:not-allowed;
}

.preview-div {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
}
.navbar-nav .nav-link.active {
    border-bottom: 2px solid #007bff;
}
