@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Dashboard";
}
<div class="text-center">
    <h1>Welcome, @(User?.Identity?.Name ?? "Guest")</h1>
    <p>We're glad to have you here.<br /> Explore your file management options below:</p>
    <a asp-action="UploadedFiles" asp-controller="FileUpload" class="btn btn-primary">Uploaded Files</a>
    <a asp-action="Index" asp-controller="FileUpload" class="btn btn-primary">File Uploader</a>
</div>
