@{
    ViewData["Title"] = "Privacy Policy";
}


<h1>Privacy Policy</h1>
<p>Welcome to the Privacy page of the File Uploader project!</p>
<p><strong>Your privacy is important to us, and we ensure that all uploaded files are secure and accessible only to authorized users.</strong></p>

